<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
  <div class="col">

    <form autocomplete="off" [formGroup]="myform" (ngSubmit)="onSave()">

      <!-- Numero del caso de prueba en el set de pruebas -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Numero del caso</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName='numberCase' placeholder="Ejm: 26">

          @if (formUtils.isValidField(myform,'numberCase')) {
          <span class="form-text text-danger">
            {{formUtils.getFieldError(myform,"numberCase")}}
          </span>
          }

        </div>
      </div>

      <!-- Caso de prueba -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Caso de prueba</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="testCase" placeholder="Caso de prueba">
          @if (formUtils.isValidField(myform,'testCase')) {
          <span class="form-text text-danger">
            {{formUtils.getFieldError(myform,"testCase")}}
          </span>
          }
        </div>
      </div>

      <!-- Fecha del caso de prueba -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Fecha del caso de prueba</label>
        <div class="col-sm-9">
          <input type="date" class="form-control custom-datepicker" formControlName="date">
          @if (formUtils.isValidField(myform,'date')) {
          <span class="form-text text-danger">
            {{formUtils.getFieldError(myform,"date")}}
          </span>
          }
        </div>
      </div>

      <!-- Cedula  -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Cedula</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" formControlName='id' placeholder="Ejm: 1001342626">

          @if (formUtils.isValidField(myform,'id')) {
          <span class="form-text text-danger">
            {{formUtils.getFieldError(myform,"id")}}
          </span>
          }
        </div>
      </div>

      <!-- Dispositivo -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Plataforma</label>
        <div class="col-sm-9">
          <select class="form-select" aria-label="Default select example" formControlName='device'>
            <option value="No Aplica">No aplica</option>
            <option value="Davivienda.com">Davivienda.com</option>
            <option value="SuperApp-Android">SuperApp-Android</option>
            <option value="SuperApp-IOS">SuperApp-IOS</option>
          </select>
          @if (formUtils.isValidField(myform,'device')) {
          <span class="form-text text-danger">
            {{formUtils.getFieldError(myform,"device")}}
          </span>
          }
        </div>
      </div>



      <!-- Agregar una nueva propiedad al excel -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Propiedades adicionales</label>
        <div class="col-sm-9">
          <div class="input-group">
            <input
              class="form-control"
              placeholder="Numero de cuenta: 45633585"
              [formControl]="newAdditionalData"
              (keydown.enter)="onAddToAdditionalData()"
              (keydown.enter)="$event.preventDefault()"
            />

            <button class="btn btn-outline-primary" type="button" (click)="onAddToAdditionalData()">
              Agregar propiedad
            </button>

          </div>
        </div>
      </div>

      <!-- Lista de nuevas propiedades -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nuevas</label>

        <div class="col-sm-9" formArrayName="additionalData">
          @for (data of additionalData.controls; track $index; let i =$index) {
          <div class="mb-1">
            <div class="input-group">
              <input class="form-control" [formControlName]="i" />

              <button
                class="btn btn-outline-danger"
                type="button"
                (click)="onDeleteAdditionalData(i)"
              >
                Eliminar
              </button>
            </div>

            @if ( formUtils.isValidFieldInArray(additionalData, i)) {
            <span class="form-text text-danger">
              {{ formUtils.getFieldErrorInArray(additionalData, i) }}
            </span>
            }
          </div>
          }
        </div>
      </div>

      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Subir archivo</label>
        <div class="col-sm-9">
          <input
            type="file"
            class="form-control"
            (change)="onFileSelect($event)"
            accept=".rar,.zip"
          />
          <div *ngIf="!isFileLoaded && selectedFile" class="text-warning">
            Cargando archivo...
          </div>
          <div *ngIf="isFileLoaded" class="text-success">
            Archivo cargado correctamente: {{ selectedFile?.name }}
          </div>
          <span *ngIf="fileError" class="text-danger">{{ fileError }}</span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">
            Crear evidencia
          </button>
        </div>
      </div>

    </form>
  </div>
</div>


<h2>Form Valid: {{myform.valid}} </h2>
<h2>Form Status: {{myform.status}} </h2>
<h2>Form Pending: {{myform.pending}} </h2>
<h2>Form errors</h2>
<pre>{{ myform.errors| json }}</pre>

<h5>Value</h5>
<pre>{{ myform.value | json }}</pre>



<h4>DATOS</h4>
<h5>Numero del caso</h5>
<pre>{{myform.value.numberCase| json }}</pre>
<h5>Caso de prueba</h5>
<pre>{{ myform.value.testCase | json }}</pre>
<h5>Fecha</h5>
<pre>{{ myform.value.date| json }}</pre>
<h5>Cedula</h5>
<pre>{{ myform.value.id | json }}</pre>
<h5>Dispositivo</h5>
<pre>{{ myform.value.device| json }}</pre>

<h4>Errores por input</h4>
<h5>Numero del caso</h5>
<pre>{{myform.controls["numberCase"].errors| json }}</pre>
<h5>Caso de prueba</h5>
<pre>{{ myform.controls["testCase"].errors | json }}</pre>
<h5>Fecha</h5>
<pre>{{ myform.controls["date"].errors| json }}</pre>
<h5>Cedula</h5>
<pre>{{ myform.controls["id"].errors | json }}</pre>
<h5>Dispositivo</h5>
<pre>{{ myform.controls["device"].errors| json }}</pre>
